nav {
text-decoration: none;

}

body {
    background-color: rgb(161, 190, 216);
    color: black;
}

.inicio {

    text-align: center;
}


#albuns h2 {

    text-align: center;
}

.imagem {

    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;
    height: 150px;
    width: 150px;

}

.texto {

    display: flex;
    margin: 10px;


}

.info {

    text-align: center;

    text-align: center;
}